<!DOCTYPE html>

<head>
  <title>Open Source Macroeconomic Laboratory</title>
  {% load static %}
  <link rel="shortcut icon" href="{%  static 'shared/favicon.ico' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'django-project/index.css' %}">
</head>

<html>

<body>

  <nav class="navbar navbar-default og-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="{% static 'shared/osm-icon.png' %}"/>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-brand" target="_blank" href="https://github.com/OpenSourceMacro/OGvisualizations">
            <img src="{% static 'shared/github-icon.png'%}"/>
          </a>
        </li>
        <li>
          <a class="navbar-brand" target="_blank" href="https://twitter.com/OpenSourceMacro">
            <img src="{% static 'shared/twitter-icon.png'%}"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <h1 class="text-center"> Open Source Macroeconomics Laboratory </h1>

  <div class="row">
    <a class="feature col-md-6 col-md-offset-3" href="/surf3Dtime">
      <div class="row">
        <div class="feature-picture col-md-4">
          <img class="img-responsive" src="{% static 'django-project/surf3Dtime.png' %}"/>
        </div>
        <div class="feature-article col-md-8">
          <h2>Overlapping Generations Model</h2>
          <hr>
          <p>Explore various aggregate and individual macroeconomic variables over time with both 3D and 2D plots.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a class="feature col-md-6 col-md-offset-3" href="/bubbleplot">
      <div class="row">
        <div class="feature-picture col-md-4">
          <img class="img-responsive" src="{% static 'django-project/bubbleplot.png' %}"/>
        </div>
        <div class="feature-article col-md-8">
          <h2>Marginal Effective Tax Rates on Corporate Investments</h2>
          <hr>
          <p>Explore the effects of tax reforms on corporate investments in equipment and structure assets.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a class="feature col-md-6 col-md-offset-3" href="/taxrates">
      <div class="row">
        <div class="feature-picture col-md-4">
          <img class="img-responsive" src="{% static 'django-project/taxrates.png' %}"/>
        </div>
        <div class="feature-article col-md-8">
          <h2>Marginal and Effective Tax Rates</h2>
          <hr>
          <p>Explore the distribution of marginal and effective tax rates across labor and capital income, time, and age.</p>
        </div>
      </div>
    </a>
  </div>

 </body>
 </html>
