<!DOCTYPE html>

<head>
  <title>Open Source Macroeconomic Laboratory</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    rel="stylesheet"/>
  <link rel='stylesheet' href={{cdn_css|safe}} type="text/css"/>
  <script type="text/javascript" src={{cdn_js|safe}}></script>
  <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js">
    </script>
</head>

<html>

<body>

<nav class="navbar navbar-default" style= "background-color:#8b0021">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class=“navbar-brand”>
        <button type="button" class="btn btn-default btn-sm navbar-btn">
          <span class="glyphicon glyphicon-chevron-left"></span> Home
        </button>
      </a>
    </div>
  </div>
</nav>

<div class="text-center">

	<h1> Operlapping Generations Model Visualization </h1>

</div>

<div class="text-center" style="padding-right:50px;padding-left:50px;padding-bottom:50px;">

  {{ div|safe }}
  {{ js|safe }}

</div>

 </body>
 </html>
